# @package _group_
kind: ffc_resnet
input_nc: 4
output_nc: 3
ngf: 64
n_downsampling: 3
n_blocks: 9
add_out_act: sigmoid

init_conv_kwargs:
  ratio_gin: 0
  ratio_gout: 0
  enable_lfu: False

downsample_conv_kwargs:
  ratio_gin: ${generator.init_conv_kwargs.ratio_gout}
  ratio_gout: ${generator.downsample_conv_kwargs.ratio_gin}
  enable_lfu: False

resnet_conv_kwargs:
  ratio_gin: 0.75
  ratio_gout: ${generator.resnet_conv_kwargs.ratio_gin}
  enable_lfu: False
